<header class="navbar navbar-inverse normal" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">Rally8</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#">
                        Blog
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right visible-md visible-lg">
                <li>
                    {% if auth %}
                        <a href="/dashboard" class="button">Dashboard</a>
                    {% else %}
                    <div class="btn-group">
                        <a href="/signup" class="btn btn-default">Sign up free</a>
                        <a href="/login" class="btn btn-default">Log in</a>
                    </div>
                    {% endif %}

                </li>
            </ul>
        </nav>
    </div>
</header>