<header class="navbar navbar-inverse normal" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Rally8</a>
        </div>
        <nav class="navbar-thingy" role="navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown visible-xs visible-sm">
                    {% if auth is defined and auth %}
                        <a href="/dashboard">Dashboard</a>
                    {% else %}

                            <a href="/login"><button>Log in</button></a>

                    {% endif %}

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right visible-lg visible-md">
                <li>
                    {% if auth is defined and auth %}
                        <a href="/dashboard" class="button">Dashboard</a>
                    {% else %}
                    <div class="btn-group">
                        <a href="/login" class="btn btn-default">Log in</a>
                    </div>
                    {% endif %}

                </li>
            </ul>
        </nav>
    </div>
</header>