<header class="navbar navbar-inverse normal" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Rally8</a>
        </div>
        <nav class="navbar-thingy" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if auth is defined and auth %}
                        <a href="/dashboard" class="button">Dashboard</a>
                    {% else %}
                    <div class="btn-group">
                        <a href="/signup" class="btn btn-default">Sign up free</a>
                        <a href="/login" class="btn btn-default">Log in</a>
                    </div>
                    {% endif %}

                </li>
            </ul>
        </nav>
    </div>
</header>