<div id="hero">
    <div class="container">
        <div class="row" style="overflow:hidden;">
            <div class="col-md-6 image">
                <img src="images/services1.png" class="img-responsive animated fadeInUp" alt="services1" />
            </div>
            <div class="col-md-6 info">
                <h3>Here is everything we offer</h3>
                <p>
                    You will find a variety of ways to present your services such as grids and lists.
                    <br />
                    We plan to update this product with more pages and features as we keep on going.
                </p>
            </div>
        </div>
    </div>
</div>