{% extends "main.twig" %}
{% block id %}about-us{% endblock %}
{% block content %}
    <div id="info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>You've got matches!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        You can now choose those you'd like to invite to join you on your goal.
                    </p>
                    <a href="#" class="join-team button button-small">Close</a>
                </div>
                <div class="col-md-6">
                    <p>
                        Remember!
                        <ol>
                        <li>Be truthful</li>
                        <li>Meet in public</li>
                        <li>Keep your profile updated</li>
                        </ol>
                    </p>
                </div>
            </div>
            <div class="row stats">
                <div class="col-sm-3">
                    <strong>13</strong>
                    matches
                </div>
                <div class="col-sm-3">
                    <strong>8</strong>
                    male
                </div>
                <div class="col-sm-3">
                    <strong>5</strong>
                    female
                </div>
                <div class="col-sm-3">
                    <strong>207</strong>
                    matches made
                </div>
            </div>
            <div class="row team">
                <div class="col-md-12 team-row">
                    <img src="/images/testimonials/testimonial1.jpg" data-toggle="tooltip" title="Eric Smith - CEO" alt="testimonial" />
                    <img src="/images/testimonials/testimonial2.jpg" data-toggle="tooltip" title="Rachel Dawes - PM" alt="testimonial" />
                    <img src="/images/testimonials/testimonial3.jpg" data-toggle="tooltip" title="Henry Hill - Developer" alt="testimonial" />
                    <img src="/images/testimonials/testimonial4.jpg" data-toggle="tooltip" title="Ana Rich - Designer" alt="testimonial" />
                    <img src="/images/testimonials/testimonial7.jpg" data-toggle="tooltip" title="Jessica Welch - Designer" alt="testimonial" />
                    <img src="/images/testimonials/testimonial8.jpg" data-toggle="tooltip" title="Charly - iOS Developer" alt="testimonial" />
                </div>
                <div class="col-md-12 team-row">
                    <img src="/images/testimonials/testimonial5.jpg" data-toggle="tooltip" title="Karen Stewart - PM" alt="testimonial" />
                    <img src="/images/testimonials/testimonial4.jpg" data-toggle="tooltip" title="Charly - iOS Developer" alt="testimonial" />
                    <img src="/images/testimonials/testimonial7.jpg" data-toggle="tooltip" title="Jessica Welch - Designer" alt="testimonial" />
                    <img src="/images/testimonials/testimonial8.jpg" data-toggle="tooltip" title="John Raynolds - UI/UX" alt="testimonial" />
                    <img src="/images/testimonials/testimonial3.jpg" data-toggle="tooltip" title="Henry Hill - Developer" alt="testimonial" />
                    <img src="/images/testimonials/testimonial2.jpg" data-toggle="tooltip" title="Rachel Dawes - PM" alt="testimonial" />
                </div>
            </div>
        </div>
    </div>

    <div id="cta">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrapper clearfix">
                        <h4>Invite your friends to Rally8!</h4>
                        <a href="/invite" class="button button-small">Invite now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}