{% extends "main.twig" %}
{% block content %}
<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <span class="entypo-lifebuoy"></span>
                    Select a goal you want to share
                </h2>
                <p>
                    Select a goal you would like to find someone else to share with.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="browse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Goals</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="icon ion-clipboard"></span>
                    <strong>Tasks and Projects</strong>
                </a>
                <p>
                    Learn how to change tasks and assign projects to all your teammates.
                </p>
            </div>
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="icon ion-gear-a"></span>
                    <strong>Account settings</strong>
                </a>
                <p>
                    Learn how to change tasks and assign projects to all your teammates.
                </p>
            </div>
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="icon ion-card"></span>
                    <strong>Billing information</strong>
                </a>
                <p>
                    Learn how to change tasks and assign projects to all your teammates.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="icon ion-person-stalker"></span>
                    <strong>Users and coworkers</strong>
                </a>
                <p>
                    Learn how to change tasks and assign projects to all your teammates.
                </p>
            </div>
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="icon ion-upload"></span>
                    <strong>Advanced options</strong>
                </a>
                <p>
                    Learn how to change tasks and assign projects to all your teammates.
                </p>
            </div>
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="icon ion-compose"></span>
                    <strong>Customize this template</strong>
                </a>
                <p>
                    Learn how to change tasks and assign projects to all your teammates.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="icon ion-iphone"></span>
                    <strong>Mobile</strong>
                </a>
                <p>
                    Learn how to change tasks and assign projects to all your teammates.
                </p>
            </div>
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="icon ion-search"></span>
                    <strong>Search & Discussions</strong>
                </a>
                <p>
                    Learn how to change tasks and assign projects to all your teammates.
                </p>
            </div>
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="icon ion-stats-bars"></span>
                    <strong>Reports & Clients</strong>
                </a>
                <p>
                    Learn how to change tasks and assign projects to all your teammates.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 copyright">
                Canvas LLC 2014
            </div>
            <div class="col-sm-6 menu">
                <ul>
                    <li class="active">
                        <a href="features.html">Features</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a href="support.html">Support</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 social">
                <a href="#">
                    <img src="images/social/social-tw.png" alt="twitter" />
                </a>
                <a href="#">
                    <img src="images/social/social-dbl.png" alt="dribbble" />
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}