{% extends "main.twig" %}
{% block id %}support{% endblock %}
{% block content %}
<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <span class="fa fa-check-square-o"></span>
                    Select a goal you want to share
                </h2>
                <p>
                    Select a goal you would like to find someone else to share with.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="browse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Goals</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="icon fa fa-trophy"></span>
                    <strong>Gym Buddy</strong>
                </a>
                <p>
                    Find a gym partner to work out with and keep accountability.
                </p>
            </div>
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="icon glyphicon glyphicon-tree-deciduous"></span>
                    <strong>Running Mate</strong>
                </a>
                <p>
                    Find someone to run/jog with and keep your exercise interesting.
                </p>
            </div>
            <div class="col-sm-4 topic">
                <a href="#">
                    <span class="fa icon fa-coffee"></span>
                    <strong>Coffee Break</strong>
                </a>
                <p>
                    Wanna grab coffee? Find new friend near you and try a new latte.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}