@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon:empty {
  width: inherit;
}

.navbar.normal .navbar-thingy .navbar-nav .btn {
  position: relative;
  top: 17px;
}

html, body {height: 100%;}
#wrap {min-height: 100%;}
#footer {margin-top:-102px;}

.navbar-brand {
  font-size: 36px;
}

.heckabig {
  font-size: 175px;
  color: #70CBF5;
}