{% extends "main.twig" %}
{% block id %}about-us{% endblock %}
{% block content %}
    <div id="info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome {user.username}!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        You can now choose those you'd like to invite to join you on your goal.
                    </p>
                    <a href="#" class="join-team button button-small">Close</a>
                </div>
                <div class="col-md-6">
                    <p>
                        Remember!
                        <ol>
                        <li>Be truthful</li>
                        <li>Meet in public</li>
                        <li>Keep your profile updated</li>
                        </ol>
                    </p>
                </div>
            </div>
            <div class="row stats">
                <div class="col-sm-3">
                    <strong>13</strong>
                    matches
                </div>
                <div class="col-sm-3">
                    <strong>8</strong>
                    male
                </div>
                <div class="col-sm-3">
                    <strong>5</strong>
                    female
                </div>
                <div class="col-sm-3">
                    <strong>207</strong>
                    matches made
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/testimonials/testimonial1.jpg" alt="testimonial" class="img-responsive img-circle" />
                </div>
                <div class="col-sm-6">
                    <h3>Dude MkDude</h3>
                    <strong>10km away</strong>
                    <em>•</em>
                    <span>Looking for a gym partner</span>
                    <div>
                        Hi! I'm a cool guy looking to get ripped with a lady who wants to improve our bodies together.
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-default btn-lg">Invite to Gym</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/testimonials/testimonial2.jpg" alt="testimonial" class="img-responsive img-circle" />
                </div>
                <div class="col-sm-6">
                    <h3>Dude MkDude</h3>
                    <strong>10km away</strong>
                    <em>•</em>
                    <span>Looking for a gym partner</span>
                    <div>
                        Hi! I'm a cool guy looking to get ripped with a lady who wants to improve our bodies together.
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-default btn-lg">Invite to Gym</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/testimonials/testimonial3.jpg" alt="testimonial" class="img-responsive img-circle" />
                </div>
                <div class="col-sm-6">
                    <h3>Dude MkDude</h3>
                    <strong>10km away</strong>
                    <em>•</em>
                    <span>Looking for a gym partner</span>
                    <div>
                        Hi! I'm a cool guy looking to get ripped with a lady who wants to improve our bodies together.
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-default btn-lg">Invite to Gym</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/testimonials/testimonial4.jpg" alt="testimonial" class="img-responsive img-circle" />
                </div>
                <div class="col-sm-6">
                    <h3>Dude MkDude</h3>
                    <strong>10km away</strong>
                    <em>•</em>
                    <span>Looking for a gym partner</span>
                    <div>
                        Hi! I'm a cool guy looking to get ripped with a lady who wants to improve our bodies together.
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-default btn-lg">Invite to Gym</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/testimonials/testimonial5.jpg" alt="testimonial" class="img-responsive img-circle" />
                </div>
                <div class="col-sm-6">
                    <h3>Dude MkDude</h3>
                    <strong>10km away</strong>
                    <em>•</em>
                    <span>Looking for a gym partner</span>
                    <div>
                        Hi! I'm a cool guy looking to get ripped with a lady who wants to improve our bodies together.
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-default btn-lg">Invite to Gym</a>
                </div>
            </div>
        </div>
    </div>

    <div id="cta">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrapper clearfix">
                        <h4>Invite your friends to Rally8!</h4>
                        <a href="/invite" class="button button-small">Invite now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}