<div id="wrap">
<header class="navbar navbar-inverse normal" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Rally8 <i class="fa fa-bullseye"></i></a>
        </div>
        <nav class="navbar-thingy" role="navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown visible-xs visible-sm">
                    {% if auth %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-dashboard"></span>Account<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/dashboard/history"><span class="fa fa-envelope-o"></span> Inbox</a></li>
                                <li><a href="/dashboard/history"><span class="fa fa-calendar"></span> History</a></li>
                                <li><a href="/dashboard/profile"><span class="fa fa-edit"></span> Profile</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a href="/login"><button class="button">Log in</button></a>
                    {% endif %}
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right visible-lg visible-md">
                <li>
                    {% if auth %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-dashboard"></span> &nbsp; Account<span class="caret" style="color:white;"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/dashboard/history"><span class="fa fa-envelope-o"></span> Inbox</a></li>
                                <li><a href="/dashboard/history"><span class="fa fa-calendar"></span> History</a></li>
                                <li><a href="/dashboard/profile"><span class="fa fa-edit"></span> Profile</a></li>
                            </ul>
                        </div>
                    {% else %}
                    <div class="btn-group">
                        <a href="/login"><button class="button" style="margin-top:10px">Log in</button></a>
                    </div>
                    {% endif %}

                </li>
            </ul>
        </nav>
    </div>
</header>
