<div id="wrap">
<header class="navbar navbar-inverse normal" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Rally8 <i class="fa fa-bullseye"></i></a>
        </div>
        <nav class="navbar-thingy" role="navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown visible-xs visible-sm">
                    {% if auth %}
                        <a href="/dashboard">Dashboard</a>
                    {% else %}
                        <a href="/login"><button class="button">Log in</button></a>
                    {% endif %}
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right visible-lg visible-md">
                <li>
                    {% if auth %}
                        <a href="/dashboard" class="button">Dashboard</a>
                    {% else %}
                    <div class="btn-group">
                        <a href="/login"><button class="button" style="margin-top:10px">Log in</button></a>
                    </div>
                    {% endif %}

                </li>
            </ul>
        </nav>
    </div>
</header>
