{% extends "main.twig" %}
{% block id %}support{% endblock %}
{% block content %}
    <div id="header">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span class="fa fa-envelope-o"></span>
                        Your inbox
                    </h2>
                    <p>
                        Message users you've connected with here.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="browse">
        <div class="container">
            {% for conversation in conversations %}
                <div class="row {% if  conversation.message.no_message == 0 and conversation.message.read == 0 %} unread-msg {% endif %}">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">
                        <img src="/images/users/{{ conversation.pic_url }}" alt="pretty thang" class="img-responsive img-circle img-user" />
                    </div>
                    <div class="col-sm-6">
                        <h3>{{ conversation.username }}</h3>
                        <div>
                            {{ conversation.message.message }}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a href="/message/{{ conversation.id }}" class="btn btn-default btn-lg" style="margin-top: 30%;">Write</a>
                    </div>
                </div>
                <hr>
                {% else %}
                <div class="row">
                   <div class="col-sm-12">
                       <div class="well text-center">
                           You don't have any messages right now. Maybe you should <a href="/dashboard">look for matches</a>?
                       </div>
                   </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="bottom-spacer"></div>
{% endblock %}