{% extends "main.twig" %}
{% block id %}support{% endblock %}
{% block content %}
<div id="header">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <span class="fa fa-check-square-o"></span>
                    Select an activity you want to share
                </h2>
                <p>
                    Select an activity you would like to find someone else to share with.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="browse">
    <div class="container">
        <div class="row">
            {% for type in types %}
                <div class="col-sm-4 topic text-center">
                    <a href="/dashboard/preferences/{{ type.id }}">
                        <span class="icon {{ type.icon_url }}"></span>
                        <strong>{{ type.name }}</strong>
                    </a>
                    <p>
                        {{ type.description }}
                    </p>
                </div>

            {% else %}
                Something is broken.
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}